@font-face {
    font-family: 'AppleSDGothicNeoR00';
    src: url('AppleSDGothicNeoR00.woff2') format('woff2'),
        url('AppleSDGothicNeoR00.woff') format('woff'),
        url('AppleSDGothicNeoR00.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

